extends layout
block content
    h1 Welcome to Ceylon Cuisine

    br
    br
    br
    br
    h2 #[a(href="/user") USER MANAGEMENT #[span]]
    h2 #[a(href="/restaurant/home") RESTAURANT MANAGEMENT #[span]]