<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Restaurant Management </title>
    <header>
        <h1>Restaurant Details</h1>
    </header>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <!--<form name="Restaurant Management" method="post" action="Add Main Food.html">-->
    <div id="addRestaurant">

    <fieldset><span id="result"></span>
        <table>
            <tr>
                <td> Restaurant Name : </td>
                <td><input id="rName" type="text" name="fname" /></td>
            </tr>
            <td> Restaurant Address: </td>
            <td><input id="rAddress" type="text" name="fname" /></td>
            </tr>
            <td> Restaurant Rating : </td>
            <td><input id="restaurantRating" type="text" name="fname" /></td>
            </tr>
            <td> Restaurant Description : </td>
            <td><input id="description" type="text" name="fname" /></td>
            </tr>
            <td> Owner Name of Restaurant: </td>
            <td><input id="rOwnerUsername" type="text" name="fname" /></td>
            </tr>
            <td> Latitute : </td>
            <td><input id="rLatitude" type="text" name="fname" /></td>
            </tr>
            <td> Logititude : </td>
            <td><input id="rLongitude" type="text" name="fname" /></td>
            </tr>
            <tr>
                <td><input type="submit" id="btnAddRestaurantr" value="Submit" name="Add Restaurant"></td>
            </tr>

        </table>
    </fieldset>
        </div>

    <!--</form>-->

</head>

<body>
<div>


    <nav>
        <p>
            <a href="/restaurant/main">Add Main Food Category</a>
        </p>
        <p>
            <a href="/restaurant/sub">Add Sub Food Category</a>
        </p>
        <p>
            <a href="/restaurant/list">Add Food List </a>
        </p>
    </nav>


    <div>

    </div>

    <footer>
        <p>
            &copy; Copyright  by Sri Lanka Institute of Information Technology
        </p>
    </footer>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/restaurant.js"></script>
</body>
</html>